src/__pycache__/chunk_docs.cpython-314.pyc
src/__pycache__/embed_store.cpython-314.pyc
src/__pycache__/rag_qna_cleaned.cpython-314.pyc
src/.ipynb_checkpoints/play1-checkpoint.ipynb
src/.ipynb_checkpoints/chunk_docs-checkpoint.py
src/.ipynb_checkpoints/embed_store-checkpoint.py
rough/.ipynb_checkpoints/play1-checkpoint.ipynb
